# netlify.toml

[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/tiktokA6iWWeqQTXrU3EgIax9vLaTzOAKkN2w5.txt"
  to = "/tiktokA6iWWeqQTXrU3EgIax9vLaTzOAKkN2w5.txt"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
